@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
@import url(http://fonts.googleapis.com/css?family=Crimson+Text);
@import url(http://fonts.googleapis.com/css?family=IM+Fell+English);

body {
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding:50px;
  color:#474747;
  font-weight:300;
  width: 700px;
  margin-bottom: 20px;
  margin-left:auto;
  margin-right:auto;
  text-align: justify;
}

header {
    text-align: center;
}

header h1 {
    font-family: 'IM Fell English', 'serif';
}

footer {
    text-align: center;
    font: 10px;
}

.abstract {
  padding:75px;
}

.manuscript {
    font-family: 'Crimson Text', 'serif';
    font-size:16px;
    font-weight:100;
    line-height:20px;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}

@media print, screen and (max-width: 800px) {
    body{
      width: 80%;
      margin-bottom: 20px;
      margin-left:auto;
      margin-right:auto;
  }
}


